:root {
    --main-background-color: #0F172A;
    --unselected-button-color: #7A4988;
    --selected-button-color: #710193;

    --tint: #00000066;

    --sub-element-color: #1E293B;
    --transparent-sub-element: #1E293B79;

    --Frank: #551f00;
    --Erank: #666666;
    --Drank: #00CDFF;
    --Crank: #7ED581;
    --Brank: #FF8F00;
    --Arank: #CD0000;
    --Srank: #F8BBD0;
    --SSrank: #F06292;
    --SSSrank: #CD00CD;
    --EXrank: #FFEB3B;
}

table, th, td {
  border: 1px solid black;
}

table caption {
    text-shadow: 3px 3px 4px #000000;
    width: fit-content;
    margin: 0 auto;
    color: #F1F5F9;
}

span {
    padding: 5px;
    padding-bottom: 1px;
}

.floatR {
    float: right;
    text-align: center;
    margin: 1em;
}

td, th {
    text-align: center;
}

div{
    padding: 1em;
}

#backgroundImage{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: auto;
}

#contentOptions {
    display: flex;
    margin-top: auto;
    justify-content: space-around;
}

#contentOptions > span:last-child {
    visibility:hidden;
}

button, select {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #94A3B8;
    margin-bottom: 5em;
    background-color: var(--sub-element-color);
}

table th {
    width: 8em 8em;
}

table th:nth-child(1), table th:nth-child(2){
    width: 14em 14em;

}

table th:nth-child(3) {
    width: 100% auto;

}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color);
    justify-content: space-between;
    /* main text color */
    color: #F1F5F9;
    margin: 0;

    background-image: url("assets/Omni_Gacha_Background.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 15vh;
    margin-bottom: 0;
    height: 85vh;
}

.tabcontent {
  display: none;
}

#selector {
    display: flex;
    background-color: var(--sub-element-color);
    justify-content: right;
    align-items: stretch;
    height: 3em;

    position: sticky;
    top: 0;
}

#selector > button.tabButton, #backLink > button{
    width: 5%;
    background-color: var(--unselected-button-color);
}

#backLink button{
    width: 5vw;
    height: 80%;
}

ul {
    list-style-type: none;
}

.subElement {
    background-color: var(--sub-element-color);
    width: 10em;
    z-index: 1;
}

.typeFilter > span {
    display: none;
}

.typeFilter {
    background-color: var(--sub-element-color);
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
}

.typeFilter > i {
    text-decoration: underline;
    font-style: normal;
    text-align: center;
}

.typeFilter:hover > span {
    display: grid;
}

.innerElement {
    grid-template-columns: auto auto;
    align-content: flex-start;
}

.options {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    align-items: start;
    height: 2em;
}

forum.options{
    padding-bottom: 10em;
}

.subOption {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    height: 10em;
}

.options > span{
    margin: 0 1em
}

.subOption > span {
    margin-bottom: 1em;
    margin-right: 1em;
}

.labelGrid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
    row-gap: 1em;
}

.alignEnd {
 margin-left: auto; 
}

.saveTableNameData{
    text-decoration-line:underline
}

.saveTableNameData:hover {
    font-style: italic;
    text-shadow: 2px 2px 5px #38BDF8;
    cursor: pointer;
}

.saveTableNameData:active {
    text-shadow: 2px 2px 5px #FFFF00;
}

input.advancedSearch{
    width: 25%;
    margin: 0 1em;
}

.searchSections{
    overflow-y: auto;
    max-height: 60vh;
    border: 3px solid #94A3B8
}

.searchSections thead {
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: var(--sub-element-color);
}

#logo img {
    object-fit: contain;
}

#logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    margin-right: auto;
    align-items: center;
}

button, #logo {
    cursor: pointer;
}

#logo > img {
    margin-right: 1em;
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 66%;
    height: 85vh;
    margin: 0 auto;
    background-color: var(--transparent-sub-element);
    overflow-y: hidden;
}

#home > h1, #home > h2 {
    width: 50%;
    margin: 1em auto;
    text-wrap: balance;
}

#homeExtraLinks {
    margin-top: auto;
}
#homeExtraLinks button {
    width: 10em;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

nav{
    color: #F1F5F9;
}

nav a:link{
    color: #38BDF8;
}

nav a:visited{
    color: #94A3B8;
}

header{
    height: 15vh;
    position: fixed;
    top: 0;
    background-color: var(--sub-element-color);
    z-index: 2;
    margin-top: 0;
    width: 100%;
}

.twoWideGrid, .threeWideGrid {
    display: grid;
    justify-content: center;
    grid-auto-rows: minmax(3em, auto);
    gap: 5px;
    align-items: stretch;
}

.twoWideGrid > span, .threeWideGrid > span {
    align-items: center;
    justify-content: center;
    display: flex;
    text-wrap: balance;
}

.twoWideGrid{
    grid-template-columns: auto 4fr;
    background-color: var(--sub-element-color);
}

.threeWideGrid{
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}

.threeWideGrid .threeWideGrid{
    background-color: var(--sub-element-color);
    align-items: stretch;
}

.twoWideGrid > .gridRowHeader{
    grid-column: 1 / span 2;
}

.threeWideGrid > .gridRowHeader{
    grid-column: 1 / span 3;
}

.gridRowHeader{
    text-align: center;
    text-wrap: balance;
}

.highlightColor{
    background-color: #5707A1;
}

.textBoxColor{
    background-color: #555555;
    padding: 1em;
}

.gridTextItem{
    background-color: #52527A;
    text-wrap: balance;
    text-align: center;
    padding: auto;
}

.twoWideGrid > .gridTextItem:nth-of-type(4n+2), .twoWideGrid > .gridTextItem:nth-of-type(4n+1),
.threeWideGrid > .gridTextItem:nth-of-type(6n-2), .threeWideGrid > .gridTextItem:nth-of-type(6n-3) {
    background-color: #5C5C70;
}

.gridRowBackgroundDefault{
    background-color: #800000;
}

.colOverRide{
    grid-row: 1 / span 2;
    grid-column: 3 / span 3;
}

.ascendingButton, .descendingButton{
    margin: 0 auto;
    background: none;
    border: 1px solid var(--unselected-button-color);
    color: white;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    display: block;
    cursor: pointer;
}

.Frank, .brownColor{
    background-color: var(--Frank);
}

.Erank, .greyColor{
    background-color: var(--Erank);
}

.Drank, .cyanColor{
    background-color: var(--Drank);
}

.Crank, .lightGreenColor{
    background-color: var(--Crank);
}

.Brank, .orangeColor{
    background-color: var(--Brank);
}

.Arank, .redColor{
    background-color: var(--Arank);
}

.Srank, .lightPinkColor{
    background-color: var(--Srank);
}

.SSrank, .pinkColor{
    background-color: var(--SSrank);
}

.SSSrank, .magentaColor{
    background-color: var(--SSSrank);
}

.EXrank, .goldColor{
    background-color: var(--EXrank);
    color: black;
}

.darkGreenColor{
    background-color: #004400;
}

.darkBlueColor, thead{
    background-color: #000077;
}

.tealColor{
    background-color: #0077FF;
}

.amberColor{
    background-color: #ffbf00;
}

#optionsButton{
    height: fit-content;
    font-size:xxx-large;
    background: none!important;
    border: none;
    color: #0077FF;
    margin: 0 0;
}

#optionsMenu{
    height: 100vh;
    width: 33vw;
    padding: 0 0;
    margin: 0 auto 0 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #52527A;
    overflow-y: auto;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-around;

    display: none;
}

#optionsMenu > * {
    margin: auto 0px;

    background-color: var(--sub-element-color);
}

.switch input{
    opacity: 0;
    height: 0px;
    width: 0px;
    position: absolute;
}

.switch input + span{
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 5px solid grey;
    display: inline-block;
    cursor: pointer;
}

.switch input:checked + span{
    background-color: #000077;
}
.switch{
    text-align: center;
    vertical-align: middle;
    text-shadow: 3px 3px 4px #000000;
    margin: auto
}

#optionsBuilds{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#optionsBuilds > *{
    margin: 0 0.5em;
}

#optionsClose, #optionsBuildsCreate{
    width: fit-content;
    background-color: white;
    font-weight: bold;
    font-size: large;
}

#optionsClose {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
}

#optionsBuildsNewName{
    flex-grow: 1;
}

.transparentBackground{
    background-color: var(--tint);
    padding: 0;
    min-height: calc(85vh - 2em);
    margin: 1em 1em;
}

.solidBackground{
    background-color: var(--main-background-color);
}

.noTopPadding{
    padding: 0;
    margin: 0;
}