:root {
    --unselected-button-color: #7A4988;
    --selected-button-color: #710193;
}

table, th, td {
  border: 1px solid black;
}

span {
    padding: 5px;
    padding-bottom: 1px;
}

.floatR {
    float: right;
    text-align: center;
    margin: 1em;
}

td, th {
    text-align: center;
}

div{
    padding: 1em;
}

#contentOptions {
    display: flex;
    margin-top: auto;
}

#contentOptions > span:last-child {
    visibility:hidden;
}

button, select {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #94A3B8;
    margin-bottom: 5em;
}

table th {
    width: 8em 8em;

}

table th:nth-child(1), table th:nth-child(2){
    width: 14em 14em;

}

table th:nth-child(3) {
    width: 100% auto;

}

body {
    display: flex;
    flex-direction: column;
    background-color: #0F172A;
    justify-content: space-between;
    /* main text color */
    color: #F1F5F9;
}

main {
    min-height: 95vh;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.tabcontent {
  display: none;
}

#selector {
    display: flex;
    background-color: #1E293B;
    justify-content: right;
    align-items: stretch;
    height: 3em;

    position: sticky;
    top: 0;
}

#selector > button, #backLink > button{
    width: 5%;
    background-color: var(--unselected-button-color);
}

#backLink button{
    width: 5vw;
    height: 80%;
}

ul {
    list-style-type: none;
}

.subElement {
    background-color: #1E293B;
    width: 10em;
    z-index: 1;
}

.typeFilter > span {
    display: none;
}

.typeFilter {
    background-color: #1E293B;
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
}

.typeFilter > i {
    text-decoration: underline;
    font-style: normal;
    text-align: center;
}

.typeFilter:hover > span {
    display: grid;
}

.innerElement {
    grid-template-columns: auto auto;
    align-content: flex-start;
}

.options {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    align-items: start;
    height: 2em;
    padding-bottom: 10em;
}

.subOption {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    height: 10em;
}

.options > span{
    margin: 0 1em
}

.subOption > span {
    margin-bottom: 1em;
    margin-right: 1em;
}

.labelGrid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
    row-gap: 1em;
}

.alignEnd {
 margin-left: auto; 
}

.saveTableNameData{
    text-decoration-line:underline
}

.saveTableNameData:hover {
    font-style: italic;
    text-shadow: 2px 2px 5px #38BDF8;
    cursor: pointer;
}

.saveTableNameData:active {
    text-shadow: 2px 2px 5px #FFFF00;
}

input.advancedSearch{
    width: 25%;
    margin: 0 1em;
}

.searchSections{
    overflow-y: auto;
    max-height: 60vh;
    border: 3px solid #94A3B8
}

.searchSections th {
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: #1E293B;
}

#logo img {
    object-fit: contain;
}

#logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    margin-right: auto;
    align-items: center;
}

button, #logo {
    cursor: pointer;
}

#logo > img {
    margin-right: 1em;
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#home > h1, #home > h2 {
    width: 50%;
    margin: 1em auto;
    text-wrap: balance;
}

#homeExtraLinks {
    margin-top: auto;
}
#homeExtraLinks button {
    width: 10em;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

nav{
    color: #F1F5F9;
}

nav a:link{
    color: #38BDF8;
}

nav a:visited{
    color: #94A3B8;
}

header{
    height: 15vh;
    position: sticky;
    top: 0;
    background-color: #1E293B;
    z-index: 2;
}

.twoWideGrid, .threeWideGrid {
    display: grid;
    justify-content: center;
    grid-auto-rows: minmax(3em, auto);
    gap: 5px;
    align-items: stretch;
}

.twoWideGrid > span, .threeWideGrid > span {
    align-items: center;
    justify-content: center;
    display: flex;
    text-wrap: balance;
}

.twoWideGrid{
    grid-template-columns: auto 4fr;
    background-color: #1E293B;
}

.threeWideGrid{
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}

.threeWideGrid .threeWideGrid{
    background-color: #1E293B;
    align-items: stretch;
}

.twoWideGrid > .gridRowHeader{
    grid-column: 1 / span 2;
}

.threeWideGrid > .gridRowHeader{
    grid-column: 1 / span 3;
}

.gridRowHeader{
    text-align: center;
    text-wrap: balance;
}

.highlightColor{
    background-color: #5707A1;
}

.textBoxColor{
    background-color: #555555;
    padding: 1em;
}

.gridTextItem{
    background-color: #52527A;
    text-wrap: balance;
    text-align: center;
    padding: auto;
}

.twoWideGrid > .gridTextItem:nth-of-type(4n+2), .twoWideGrid > .gridTextItem:nth-of-type(4n+1),
.threeWideGrid > .gridTextItem:nth-of-type(6n-2), .threeWideGrid > .gridTextItem:nth-of-type(6n-3) {
    background-color: #5C5C70;
}

.gridRowBackgroundDefault{
    background-color: #800000;
}

.colOverRide{
    grid-row: 1 / span 2;
    grid-column: 3 / span 3;
}